@keyframes blink{
	0%{
		background-color: aqua
	}
	15%{
		background-color: blue;
	}
	45%{
		background-color: blueviolet;
	}
	58%{
		background-color: indigo;
	}
	70%{
		background-color: brown;
	}
	89%{
		background-color: aquamarine;
	}
	100%{
		background-color: antiquewhite;
	}
}

@-webkit-keyframes blink{
	0%{
		background-color: aqua
	}
	15%{
		background-color: blue;
	}
	45%{
		background-color: blueviolet;
	}
	58%{
		background-color: indigo;
	}
	70%{
		background-color: brown;
	}
	89%{
		background-color: aquamarine;
	}
	100%{
		background-color: antiquewhite;
	}
}

div{
    text-align: center;
	height:100vh;
	width: 100vw;
	border: 1px solid;
	animation: blink 10s infinite;
	-webkit-animation: blink 10s infinite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}