html{
	width: 100vw;
	border:1px solid;
	height: 50vh;
	font-size: 30px;


}
h1{
	border: 5px solid;
	left: 10px;
	right: 10px;
	bottom: 0;
	/*z-index: -1;*/
	background-color: rgb(236, 236, 192);
	position: absolute;
	/*position: relative;
	position: fixed;
	position: static;
	position: sticky;
	*/
}



.container{
	font-size: 1rem;
	height: 30vh;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(8, 6, 54) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	box-shadow: 10px 2px 50px darkblue;
	display: flex;
}
